<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo App</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <div class="container">
            <form id='form' method="post" action="/todos/create">
                <input type="text" name="description" id="description"/>
                <input type="submit" value="Create" />
            </form>
            <ul id="todo">
                {% for d in data %}
                <li>
                    <div class="item-container">
                        <input data-id={{d.id}} class="completed" type="checkbox" {% if d.completed %} checked {% endif %}>
                        {{d.description}}
                    </div>
                    <button class="delete" data-id="{{ d.id }}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- <div class = "hidden" id = "error" > Something went wrong! </div> -->
        <script src="../static/scripts.js"></script>
    </body>

</html>